<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container"> 
<ul class="breadcrumb">
                    <li><a href="#">Home</a></li>                    
                    <li class="active">Billing</li>
                </ul>    
  <table class="table">
    <thead>
      <tr>
        <th>Resource</th>
        <th>Usage</th>
        <th>Cost</th>
       
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>NetworkIn</td>
         <td>67.4189453125</td>
<td>202.256835938</td>
      </tr>
         <tr>
        <td>NetworkOut</td>
<td> 66.435546875</td>
<td>199.306640625</td>
      </tr>
<tr>
        <td>DiskReadBytes</td>
<td>410</td>
<td>1230</td>
</tr>
<tr>
	<td>DiskWriteBytes</td>
<td>450</td>
<td>1350</td>
</tr>
<tr>
<td>Total</td>
<td></td>
<td>2981.616835938</td>
</tr>
       
     
      
    </tbody>
  </table>
</div>

</body>
</html>

