
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                    
                    
                    <div class="row">
                        <div class="col-md-4" >
                            
                            <!-- START USERS ACTIVITY BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Instance</h3>
                                    </div>                                                                       
                                </div>                                
                                <div class="panel-body padding-10">
                                    <p> Number of instance running: </p>
                                    <button type="button" onclick="alert('Hello world!')" style="height: 20px;">Launch Instance</button>
                                </div>
                            <!-- END USERS ACTIVITY BLOCK -->
                            </div>                           
                            <!-- START USERS ACTIVITY BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Andriod Emulator</h3>
                                    </div>                                                                       
                                </div>                                
                                <div class="panel-body padding-10">
                                    <p> Number of Emulator running: </p>                                   
                                </div>
                            <!-- END USERS ACTIVITY BLOCK -->                            
                            </div>
                        </div>
                    </div>